---
layout: default
title: Page Not Found | Angad Arts Hotel
meta_description:
permalink: /page-not-found/
meta_tags:
  robots:
---

<section class="inner-hero-banner" style="background-image: url('/assets/images/about/hero.jpg')">
  <div class="banner-text">
    {% regionblock banner_heading_1, type: header %}
    <h3>404 Error</h3>
    {% endregionblock %}
    {% regionblock banner_heading_2, type: header %}
    <h2>Page Not Found</h2>
    {% endregionblock %}
  </div>
</section>
{% assign links = site.data.navigation.main %}
{% assign footer-links = site.data.navigation.footer %}
<section class="full-text-wrap">
  <div class="full-text">
    <div class="text-content text-center">
      <div class="color-block-red top-left-block"></div>
      {% regionblock intro_text, type: text %}
      <p class="mb-4">We're sorry but it looks like that page doesn't exist anymore. Please view the sitemap below or go back to the <a href="/" title="Homepage"> Homepage</a>.</p>
      {% endregionblock %}
      <div class="sitemap">
        {% regionblock banner_heading_2, type: header %}
          <h5>Sitemap</h5>
        {% endregionblock %}
        <ul>
          <li><a href="/">Home</a></li>
          {% for link in links %}
          <li><a href="{{ link.url | absolute_url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
          {% for link in footer-links %}
          <li>
            <a href="{{ link.url | absolute_url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="color-block-yellow bottom bottom-right-block"></div>
    </div>
  </div>
</section>
