---
layout: default
title: Angad Arts Hotel in St. Louis’s Grand Center Arts District
meta_description: Angard Arts Hotel offers a fusion of gracious hospitality combined with socially inspiring experiences for the most discerning guests within St. Louis.
permalink: /about/
meta_tags:
  robots:
---

<section class="inner-hero-banner bg-styles" style="background-image: url('/assets/images/about/hero.jpg')">
  <video autoplay muted loop poster="/assets/images/about/hero.jpg">
    <source src="//cdn.traveltripper.io/site-assets/32_897_16116/media/2018-05-24-052827/videolamp.mp4" type="video/mp4" caption="lamp video">
    Your browser does not support the video tag.
  </video>

  <div class="play-overlay">
    <span class="far fa-play-circle"></span>
  </div>

  <div class="banner-text">
    {% regionblock banner_heading, type: header %}
    <h1><span>a</span>bout us</h1>
  {% endregionblock %}
  </div>
</section>

<section class="full-text-wrap" tabindex="0">
  <div class="full-text ">
    <div class="text-content">
      <div class="color-block-red top-left-block"></div>
      {% regionblock intro_text, type: text %}
      <p>Ideally located in the Grand Center Arts District, AHH offers a fusion of gracious hospitality combined with socially inspiring experiences for the most discerning guests. Our first in class service, distinctive dining and bar menus and venues and wide array of amenities create a truly authentic St. Louis experience. Welcome to your personal gateway to one of the midwest’s great cities.</p>
      {% endregionblock %}
      <div class="color-block-yellow bottom bottom-right-block"></div>
    </div>
  </div>
</section>

<section class="room-amenities" tabindex="0">
  <div class="room-amenities-inner m-0">
    <div class="small-img bg-styles" style="background-image: url('/assets/images/about/room-red.jpg');">
      <div class="color-block-blue from-left"></div>
    </div>
    <div class="content d-flex align-items-center">
      {% regionblock rooms_amenities_text, type: text %}
      <ul>
        <li>146 rooms including 38 suites</li>
        <li>First hotel that empowers guests to book rooms by the emotion of color.</li>
        <li>Select accommodations with full equipped kitchenettes</li>
        <li>Amenities by Molton Brown</li>
        <li>Luxury linens and the most comfy beds and pillows</li>
        <li>Complimentary wifi</li>
      </ul>
      {% endregionblock %}
    </div>
    <div class="big-img bg-styles" style="background-image: url('/assets/images/about/room-green.jpg');">
    </div>
  </div>
</section>

<section class="services-sec" tabindex="0">
  <div class="color-block-green from-right"></div>
  <div class="services-sec-inner m-0">
    <div class="content d-flex align-items-center">
      {% regionblock services_one, type: text %}
      <ul>
        <li><span></span>Personal concierge services offering access to St. Louis attractions and special events</li>
      </ul>
      {% endregionblock %}
      <div class="color-block-red from-left"></div>
    </div>
    <div class="image bg-styles"  style="background-image: url('/assets/images/about/st-louis.jpg');">
    </div>
  </div>
</section>

<section class="chef-david-burke" tabindex="0">
  <div class="chef-david-burke-inner m-0">
    <div class="big-img bg-styles" style="background-image: url('/assets/images/about/dine.jpg');">
      <div class="color-block-yellow from-left"></div>
    </div>
    <div class="content d-flex align-items-center">
      {% regionblock rooms_amenities_text_2, type: text %}
      <ul>
        <li>Dining and nightlife with creative food & beverage selections by Chef David Burke</li>
      </ul>
      {% endregionblock %}
    </div>
    <div class="small-img bg-styles" style="background-image: url('/assets/images/about/grand-tavern.jpg');">
    </div>
  </div>
</section>

<section class="services-sec two" tabindex="0">
  <div class="services-sec-inner m-0">
    <div class="image bg-styles"  style="background-image: url('/assets/images/about/meet.jpg');">
    </div>
    <div class="content d-flex align-items-center">
      {% regionblock services_two, type: text %}
      <ul class="two">
        <li><span></span>Outdoor rooftop terrace with panoramic views</li>
        <li><span></span>Inspired Grand Ballroom and Playhouse for meetings and private events</li>
        <li><span></span>Valet parking</li>
      </ul>
      {% endregionblock %}
      <div class="color-block-red two from-right"></div>
    </div>
  </div>
</section>

<section class="full-text-wrap" tabindex="0">
  <div class="full-text ">
    <div class="text-content">
      <div class="color-block-yellow top-left-block"></div>
      {% regionblock enquiry-content, type: text %}
      <p>For any inquiries, please contact NJF Public Relations at <a  href="mailto:aahpress@njfpr.com">aahpress@njfpr.com</a>. We look forward to speaking with you about Angad Arts Hotel, a wholly new hospitality experience and beacon for St. Louis’ vibrant arts scene.</p>
      {% endregionblock %}
    </div>
    <div class="social-media-sec">
      <h5>join the conversation</h5>
      <ul class="social-share">
        {% assign sociallinks = site.data.social %}
        {% if sociallinks.twitter.username %}
        <li>
          <a class="twitter-link" href="https://www.twitter.com/{{sociallinks.twitter.username}}" target="_blank" rel="nofollow">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if sociallinks.facebook.username %}
        <li>
          <a class="facebook-link" href="https://www.facebook.com/{{sociallinks.facebook.username}}" target="_blank" rel="nofollow">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        {% endif %}
        {% if sociallinks.instagram.username %}
        <li>
          <a class="instagram-link" href="https://www.instagram.com/{{sociallinks.instagram.username}}" target="_blank" rel="nofollow">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        {% endif %}
        {% if sociallinks.spotify.username %}
        <li>
          <a class="spotify-link" href="/" target="_blank" rel="nofollow">
            <i class="fab fa-spotify"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>

<section class="stay-colorful-sec" tabindex="0">
  {% regionblock stay_colorful_img, type: image %}
    <img src="/assets/images/home/stay-colorful.jpg" alt="Stay Colorful">
  {% endregionblock %}
  <div class="grad-bg"></div>
</section>

<section class="full-text-wrap" tabindex="0">
  <div class="full-text">
    {% regionblock make_something_header, type: header %}
      <h3>Make Something New With Us</h3>
    {% endregionblock %}
    <div class="text-content medium">
      <div class="color-block-red top-right-block"></div>
      <div class="color-block-green top-left-block"></div>
      {% regionblock make_something_header, type: text %}
        <p>In anticipation of our opening, we invite you to join the Angad Arts Hotel (AAH) community by sharing your words, photographs and drawing to help create our online “Stay Colorful” mural.</p>
      {% endregionblock %}
      <p class="btn-holder">
        {% regionblock make_something_cta, type: text %}
          <a href="http://createsomethingnew.angadartshotel.com" class="primary-btn yellow" target="_blank">Start Creating</a>
        {% endregionblock %}
      </p>
      <div class="color-block-blue bottom-block"> </div>
    </div>
  </div>
</section>
