---
layout: default
title: Events
meta_description:
permalink: /aah-tonight/
meta_tags:
  robots:
published: true
---

{% assign events = site.data._models.events | sort: 'event_date' %}

<section class="inner-hero-banner bg-styles blue mb-80" style="background-image: url('/assets/images/events/events-banner.jpg')">
  <div class="banner-text">
    {% regionblock banner_heading, type: header %}
      <h1>AAH! <span>T</span>onight</h1>
    {% endregionblock %}
  </div>
</section>

<section class="events">
  <div class="events-listing">

    {% for event in events %}

    <!-- Event -->
    <div class="event">
      <h4>{{ event.event_date | date: "%a %b %d" }}<span>{% if event.event_enddate and event.event_enddate != '' %}to {{ event.event_enddate | date: "%a %b %d" }}{% else %}{{ event.event_time }}{% endif %}</span></h4>
      <div class="event-image" style="background-image: url('{{ event.event_thumb_image.url_small }}')">
      </div>
      <div class="event-info balance_height">
        <p>
          {{ event.short_description }}
        </p>
      </div>
        <a class="primary-btn {% if event.btn_txt and event.btn_txt == '' %}hidden{% endif %}" href="/aah-tonight/{{ event.url_friendly_name }}/">{{ event.btn_txt }}</a>
      <hr>
    </div>

    {% endfor %}

  </div>
</section>
