---
layout: default
title: Boutique St Louis Hotel Offers | Deals at Angad Arts Hotel
meta_description: Browse through our exclusive Angad Arts Hotel deals - from our Lowest Rate via the Some Like it Hot package deal, with rates from $95 including wifi, or the Breakfast & Burke offer which includes breakfast for two.
permalink: /offers/
meta_tags:
  robots:
published: true
---

<div class="loading" style="display:block;">Loading&#8230;</div>
<!-- Offers Wrapper-->
<section class="offers" rt3-special-rates="offers">
  <h1 class="page-title" tabindex="0">Offers</h1>
  <!-- Offers Listing -->
  <div class="offers-listing">
    <div class="no-offer-block" ng-show="offers.special_rates.length == 0"><h6>We're sorry, there are no special offers available at this time.</h6></div>
    <!-- Offer item 1 -->
    <div class="offer-item mb-80" ng-repeat="offer in offers.special_rates" tabindex="0">
      <div class="offer-image" ng-style="{'background-image': 'url([[offer.images[0].large || '/assets/images/dummy.jpg' ]])'}">
      </div>
      <div class="offer-info balance_height">
        <h4 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h4>
        <p ng-bind-html="offer.short_description | renderHTMLCorrectly">
        </p>
        <a class="primary-btn" ng-href="[[ offer.promo_url ]]" target="_blank">Book Now</a>
      </div>
    </div>
  </div>
</section>

{% include stay-colorful-section.html %}

<!-- Rooms Cross sell content -->
<section class="full-text-wrap rooms-cross-sell" tabindex="0">
  <div class="full-text">
    <div class="text-content">
      <div class="color-block-green top-left-block"></div>
      <p>Designed by the Lawrence Group especially to appeal to your emotional side, the color palette of our rooms sets the mood for your stay. Choose your room by how you are feeling in the moment. Whether your choice is passionate red, tranquility blue, a happy yellow or green rejuvenation our rooms and amenities are perfect for work and play.</p>
      <p class="btn-holder">
        <a href="/rooms/" class="primary-btn red">View All Rooms</a>
      </p>
    </div>
  </div>
</section>
