---
layout: default
title: Rooms
meta_description:
permalink: /rooms/
meta_tags:
  robots:
published: true
---
<div class="loading" style="display:block;">Loading&#8230;</div>
<!-- Rooms page Intro -->
<section class="page-intro mb-5">
  {% regionblock rooms_page_title, type: header %}
    <h1 class="page-title mb-4">Stay Colorful</h1>
  {% endregionblock %}
  {% regionblock rooms_page_text, type: text %}
    <p>Featuring 146 artfully designed guest rooms, including 38 suites and 25 extended stay rooms with kitchenettes, ours is the ﬁrst hotel in the world that gives you the option of booking your room not only by bed and room size, but also by the emotion of color – <span class="passion-red">Passion Red</span>, <span class="tranquility-blue">Tranquility Blue</span>, <span class="rejuvenation-green">Rejuvenation Green</span> or <span class="happiness-yellow">Happiness Yellow</span>.</p>
  {% endregionblock %}
</section>

<!-- Rooms Listing Wrapper -->
<section class="rooms" ng-controller="loader">
  <!-- Filter rooms by Category -->
  <div class="filter">
    <h6>Filter by room type</h6>
    {% assign categories = site.data._models.categories | sort: 'sort_order' %}
      <ul>
        <li> <a href="javascript:void(0);" class="active" data-filter="all-rooms">All Rooms</a></li>
        {% for category in categories %}
        <li> <a href="javascript:void(0);" data-filter="{{ category.title | downcase | replace: ' ', '-' }}">{{ category.title }}</a></li>
        {% endfor %}
        <li> <a href="javascript:void(0);" data-filter="ada-filter">ADA Rooms & Suites</a></li>
      </ul>
  </div>

  <!-- Rooms Listing -->
  <div class="rooms-listing">
    {% assign rooms = site.data._models.rooms | sort: 'sort_order' %}
    {% for room in rooms %}
      <div class="room-item {{ room.room_type.title | downcase | replace: ' ', '-' }} {% if room.ada_options_available == true %} ada-option {% endif %}">
        <div class="room-image" style="background-image: url('{{ room.room_image.url }}');">
          <a class="book-now-btn" href="{{ room.booking_link }}">Book Now</a>
          {% if room.ada_options_available == true %}
            <div class="ada-available"><span>ADA Options Available</span><i class="fa fa-wheelchair"></i></div>
          {% endif %}
        </div>
        <div class="room-info">
          <h4>{{ room.room_type.title }}</h4>
          <p>{{ room.room_size }}</p>
          <p>{{ room.title }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Offers Cross Sell Banner -->
<section class="cross-sell-banner">
  <h2>Arrive <span>A</span>ffordably</h2>
  <img src="/assets/images/rooms/offers-cross-sell.jpg" alt="Angad Offers" />
</section>

<!-- Offers Cross sell content -->
<section class="full-text-wrap variation">
  <div class="full-text">
    <div class="text-content">
      <div class="color-block-green top-left-block"></div>
      <p>Introducing the best place to receive special discounted rates and offers - available only on our website.</p>
      <p class="btn-holder">
        <a href="/offers/" class="primary-btn yellow">View All Offers</a>
      </p>
    </div>
  </div>
</section>
