---
layout: default
title: Sitemap
meta_description:
permalink: /sitemap/
meta_tags:
  robots:
---

<section class="inner-hero-banner" style="background-image: url('/assets/images/about/hero.jpg')">
  <div class="banner-text">
    {% regionblock banner_heading, type: header %}
      <h2>Sitemap</h2>
    {% endregionblock %}
  </div>
</section>

{% assign links = site.data.navigation.main %}
{% assign footer-links = site.data.navigation.footer %}
<section class="full-text-wrap">
  <div class="full-text">
    <div class="text-content text-center">
      <div class="color-block-red top-left-block"></div>
      <div class="sitemap">
        <ul>
          <li><a href="/">Home</a></li>
          {% for link in links %}
          <li><a href="{{ link.url | absolute_url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
          {% for link in footer-links %}
          <li>
            <a href="{{ link.url | absolute_url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="color-block-yellow bottom bottom-right-block"></div>
    </div>
  </div>
</section>
