<div class="right-col">
    <div class="widget-box">
        <form class="search-form" action="/storytelling/search/" method="get">
            <input type="text" id="search-box" class="input-grey" name="query" placeholder="Search" aria-label="Search Field" title="Search Field" />
            <button class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="widget-box">
        <h5>Categories</h5>
        <ul class="categories">
            {% assign categories = site.data._models.category | sort:'order'%}
            {% for categorylist in categories %}
            <li><a href="/storytelling/category/{{categorylist.url_friendly_name}}/" title="{{categorylist.title}}"> {{categorylist.title}}
                {% assign count = 0 %}
                {% for postcount in site.data._models.storytelling %}
                {% if postcount.category.title == categorylist.title%}
                {% capture count  %}{{ count  | plus: '1' }}{% endcapture %}
                {%endif%}
                {%endfor%}
                <span>({{count}})</span>
                </a>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
