<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div class="address-sec order-3 order-lg-1">
        <a class="footer-logo"  href="/" title="Angad Arts Hotel">
          <img src="/assets/images/aah-logo-white.png" alt="Angad Arts Hotel">
        </a>
        <a class="footer-address">3550 Samuel<br>Shepard Dr<br>Saint Louis,<br>MO 63103</a>
      </div>
      <div class="contact-sec order-4 order-lg-2">
        <p class="phone-1">
          <a href="tel:3145610033" title="3145610033">+1 (314) 561 0033</a>
        </p>
        <p class="phone-2">
          <a href="tel:3145610033" title="3145610033">+1 (314) 561 0033</a>
        </p>
        <p>
          <a class="email-address" href="mailto:info@angadartshotel.com" title="info@angadartshotel.com">info@angadartshotel.com</a>
        </p>
      </div>
      <div class="email-subscription order-1 order-lg-3">
        <h4>Stay in Touch</h4>
        {% assign jotform = site.data.forms.jotform %}
        <form class="newsletter-footer" action="https://submit.jotform.me/submit/{{jotform.newsletter-id}}/" method="post" name="form_{{jotform.newsletter-id}}" id="{{jotform.newsletter-id}}">
          <input type="hidden" name="formID" value="{{jotform.newsletter-id}}" />
          <input class="form-control" type="email" id="input_3" name="q3_email" value="" placeholder="name@domain.com" title="Enter Your Email" aria-label="Enter Your Email">
          <button id="input_2" type="submit" name="button"></button>
        </form>
        <ul class="social-share">
          <!-- <li>
            <a class="twitter-link" href="/" target="_blank" rel="nofollow">
              <i class="fab fa-twitter"></i>
            </a>
          </li> -->
          <li>
            <a class="facebook-link" href="/" target="_blank" rel="nofollow">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a class="instagram-link" href="/" target="_blank" rel="nofollow">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <!-- <li>
            <a class="spotify-link" href="/" target="_blank" rel="nofollow">
              <i class="fab fa-spotify"></i>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="footer-links order-2 order-lg-4">
        <ul>
          <li>
            <a href="/press/" title="Press">Press</a>
          </li>
          <li>
            <a href="/about/" title="About">About</a>
          </li>
          <li>
            <a href="/careers/" title="Careers">Careers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
