{% assign footer-links = site.data.navigation.footer %}
<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div class="address-sec order-3 order-lg-1">
        <a class="footer-logo"  href="/" title="Angad Arts Hotel">
          <img src="/assets/images/aah-logo-white.png" alt="Angad Arts Hotel">
        </a>
        <a href="https://goo.gl/maps/mbbAkUZqVNS2" class="footer-address" target="_blank">3550 Samuel<br>Shepard Dr<br>Saint Louis,<br>MO 63103</a>
      </div>
      <div class="contact-sec order-4 order-lg-2">
        <p class="phone-1">
          <a href="tel:3145610033" title="3145610033">+1 (314) 561 0033</a>
        </p>
        <p class="phone-2">
          <a href="tel:8332330014" title="3145610033">+1 (833) 233 0014</a>
        </p>
        <p>
          <a class="email-address" href="mailto:info@angadartshotel.com" title="info@angadartshotel.com">info@angadartshotel.com</a>
        </p>
      </div>
      <div class="email-subscription order-1 order-lg-3">
        <h5 tabindex="0">Stay in Touch</h5>
        {% assign jotform = site.data.forms.jotform %}
        <form class="newsletter-footer" action="https://submit.jotform.me/submit/{{jotform.newsletter-id}}/" method="post" name="form_{{jotform.newsletter-id}}" id="{{jotform.newsletter-id}}">
          <input type="hidden" name="formID" value="{{jotform.newsletter-id}}" />
          <div class="newsletter-footer-inner">
            <input class="form-control" type="email" name="q3_email" value="" placeholder="name@domain.com" title="Enter Your Email" aria-label="Enter Your Email" required>
            <label for="input_4_0" class="agree">
              <input type="checkbox" aria-label="I agree to the Terms of Service and Privacy Policy." title="I agree to the Terms of Service and Privacy Policy." id="input_4_0" name="q4_acceptTerms[]" required>
              I agree to the <a href="/terms-of-use/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.
              <span class="checkmark"></span>
            </label>
          </div>
          <button id="signUpBtn" type="submit" name="button" title="Signup" aria-label="Signup" disabled></button>
        </form>
        <ul class="social-share">
          {% assign sociallinks = site.data.social %}

          {% if sociallinks.twitter.username %}
          <li>
            <a href="https://www.twitter.com/{{sociallinks.twitter.username}}" target="_blank" rel="nofollow" title="Follow us on Twitter" >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          {% endif %}

          {% if sociallinks.facebook.username %}
          <li>
            <a href="https://www.facebook.com/{{sociallinks.facebook.username}}" target="_blank" rel="nofollow" title="Follow us on Facebook" >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          {% endif %}

          {% if sociallinks.instagram.username %}
          <li>
            <a href="https://www.instagram.com/{{sociallinks.instagram.username}}" target="_blank" rel="nofollow" title="Follow us on Instagram" >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          {% endif %}

          {% if sociallinks.spotify.username %}
          <li>
            <a href="/" target="_blank" rel="nofollow" title="Follow us on Spotify" >
              <i class="fab fa-spotify"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-links order-2 order-lg-4">
        <ul>
          {% for link in footer-links %}
          <li>
            <a href="{{ link.url | absolute_url }}" {% if link.new-tab == true %} target="_blank" {% endif %}>{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
