<section class="full-text-wrap">
  <section class="full-text">
    <h3>Make Something New With Us</h3>
    <div class="text-content medium">
      <div class="color-block-red top-right-block"></div>
      <div class="color-block-green top-left-block"></div>
      <p>In anticipation of our opening, we invite you to join the Angad Arts Hotel (AAH) community by sharing your words, photographs and drawing to help create our online “Stay Colorful” mural.</p>
      <p class="btn-holder">
        <a href="#" class="primary-btn">Start Creating</a>
      </p>
      <div class="color-block-blue bottom-block"> </div>
    </div>
  </section>
</section>
