<section class="full-text-wrap" tabindex="0">
  <div class="full-text">
    {% regionblock make_something_header, type: header %}
      <h3>Make Something New With Us</h3>
    {% endregionblock %}
    <div class="text-content medium">
      <div class="color-block-red top-right-block"></div>
      <div class="color-block-green top-left-block"></div>
      {% regionblock make_something_header, type: text %}
        <p>In anticipation of our opening, we invite you to join the Angad Arts Hotel (AAH) community by sharing your words, photographs and drawing to help create our online “Stay Colorful” mural.</p>
      {% endregionblock %}
      <p class="btn-holder">
        {% regionblock make_something_cta, type: text %}
          <a href="http://createsomethingnew.angadartshotel.com" class="primary-btn yellow" target="_blank">Start Creating</a>
        {% endregionblock %}
      </p>
      <div class="color-block-blue bottom-block"> </div>
    </div>
  </div>
</section>
