
<!--image load on load time to smooth scrool-->
<img src="/assets/images/home/Room-GREEN.jpg" class="d-none" alt="rooms green">
<img src="/assets/images/home/Room-RED.jpg" class="d-none" alt="rooms red">
<img src="/assets/images/home/Room-BLUE.jpg" class="d-none" alt="rooms blue">
<img src="/assets/images/home/Room-yellow.jpg" class="d-none" alt="rooms yellow">

<div class="stay-colorful-header">
  <h4>Choose Your Color Room by Color of Emotion</h4>
</div>

<div class="stay-colorful bg-styles"  id="mainroom-image" style="background-image: url('/assets/images/home/stay-colorful-bg.jpg')">
  <div class="overlay-blocks">
    <a href="javascript:void(0);" tabindex="-1" title="Overlay Room Image" data-imgsrc="/assets/images/home/Room-GREEN.jpg" class="overlay block-1"></a>
    <a href="javascript:void(0);" tabindex="-1" title="Overlay Room Image" data-imgsrc="/assets/images/home/Room-BLUE.jpg" class="overlay block-2"></a>
    <a href="javascript:void(0);" tabindex="-1" title="Overlay Room Image" data-imgsrc="/assets/images/home/Room-RED.jpg" class="overlay block-3"></a>
    <a href="javascript:void(0);" tabindex="-1" title="Overlay Room Image" data-imgsrc="/assets/images/home/Room-yellow.jpg" class="overlay block-4"></a>
  </div>
  <div class="banner-text">
    {% regionblock stay_colorful_heading, type: header %}
      <h2>Stay Colorful</h2>
    {% endregionblock %}
  </div>
</div>
