// Base Elements
// ==========================================================================

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  @include text-formatting($global-font-family, $type-size-3, normal, normal, $white, uppercase, .1px)
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3rem;
}

del a {
  color: inherit;
}

// Links

a {
  &:hover,
  &:active {
    outline: 0;
  }
}

// Sets a default bottom margin and removes bullet points from lists

ul li,
ol li {
  margin-bottom: 0.5rem;
  list-style: none;
}

li ul,
li ol {
  margin-top: 0.5rem;
  list-style: none;
}

// Fix IE9 SVG bug

svg:not(:root) {
  overflow: hidden;
}

.intro-logo {
  video {
    width: 100%;
  }
}
