// Base Elements
// ==========================================================================

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {

}

h2 {
  @include text-formatting($lighter-font, $type-size-1, 300, normal, $white, uppercase, .5rem);
}

h3 {
  @include text-formatting($header-font-family, $type-size-2, 700, 4.375rem, $black, uppercase, .40625rem);
}

p {
  @include text-formatting($global-font-family, $type-size-3, 400, 2rem, $black, normal, .48px);
}

// Links

a {
  &:hover,
  &:active {
    outline: 0;
  }
}

// Sets a default bottom margin and removes bullet points from lists

ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

// Fix IE9 SVG bug

svg:not(:root) {
  overflow: hidden;
}

.intro-logo {
  video {
    width: 100%;
  }
}
