// @import must be at top of file, otherwise CSS will not work

@import url("//hello.myfonts.net/count/370a5d");


@font-face {font-family: 'CerebriSans-Bold';src: url('/assets/webfonts/370A5D_0_0.eot');src: url('/assets/webfonts/370A5D_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/370A5D_0_0.woff2') format('woff2'),url('/assets/webfonts/370A5D_0_0.woff') format('woff'),url('/assets/webfonts/370A5D_0_0.ttf') format('truetype');}


@font-face {font-family: 'CerebriSans-Book';src: url('/assets/webfonts/370A5D_1_0.eot');src: url('/assets/webfonts/370A5D_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/370A5D_1_0.woff2') format('woff2'),url('/assets/webfonts/370A5D_1_0.woff') format('woff'),url('/assets/webfonts/370A5D_1_0.ttf') format('truetype');}


@font-face {font-family: 'CerebriSans-ExtraBold';src: url('/assets/webfonts/370A5D_2_0.eot');src: url('/assets/webfonts/370A5D_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/370A5D_2_0.woff2') format('woff2'),url('/assets/webfonts/370A5D_2_0.woff') format('woff'),url('/assets/webfonts/370A5D_2_0.ttf') format('truetype');}


@font-face {font-family: 'CerebriSans-Light';src: url('/assets/webfonts/370A5D_3_0.eot');src: url('/assets/webfonts/370A5D_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/370A5D_3_0.woff2') format('woff2'),url('/assets/webfonts/370A5D_3_0.woff') format('woff'),url('/assets/webfonts/370A5D_3_0.ttf') format('truetype');}


@font-face {font-family: 'CerebriSans-SemiBold';src: url('/assets/webfonts/370A5D_4_0.eot');src: url('/assets/webfonts/370A5D_4_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/370A5D_4_0.woff2') format('woff2'),url('/assets/webfonts/370A5D_4_0.woff') format('woff'),url('/assets/webfonts/370A5D_4_0.ttf') format('truetype');}
