@font-face {
  font-family: 'CerebriSans-Bold';
  src: url('/fonts/CerebriSans-Bold.otf');
}

@font-face {
  font-family: 'CerebriSans-Book';
  src: url('/fonts/CerebriSans-Book.otf');
}

@font-face {
  font-family: 'CerebriSans-ExtraBold';
  src: url('/fonts/CerebriSans-ExtraBold.otf');
}

@font-face {
  font-family: 'CerebriSans-Light';
  src: url('/fonts/CerebriSans-Light.otf');
}

@font-face {
  font-family: 'CerebriSans-SemiBold';
  src: url('/fonts/CerebriSans-SemiBold.otf');
}
