@font-face {
  font-family: "CerebriSans-Bold";
  src: url("/assets/fonts/CerebriSans-Bold.otf");
}

@font-face {
  font-family: "CerebriSans-Book";
  src: url("/assets/fonts/CerebriSans-Book.otf");
}

@font-face {
  font-family: "CerebriSans-ExtraBold";
  src: url("/assets/fonts/CerebriSans-ExtraBold.otf");
}

@font-face {
  font-family: "CerebriSans-Light";
  src: url("/assets/fonts/CerebriSans-Light.otf");
}

@font-face {
  font-family: "CerebriSans-SemiBold";
  src: url("/assets/fonts/CerebriSans-SemiBold.otf");
}
