// Footer Elements
// ==========================================================================

// For sticky footer see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

footer {
  padding: 50px 0 30px;
  text-align: center;
  background-image: linear-gradient(to right, $brand-red 0%, $brand-blue 100%);
  @include media-breakpoint-up(lg) {
    padding: 50px 0 105px;
    text-align: left;
  }
  .footer-container {
    @include main-container;
    .footer-row {
      @include make-row;
      .address-sec {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
          @include make-col(3.5);
        }
        margin-bottom: 20px;
        .footer-logo {
          margin-bottom: 20px;
          @include media-breakpoint-up(lg) {
            float: left;
            width: 45%;
            margin-bottom: 0;
          }
          img {
            max-width: 80px;
            @include media-breakpoint-up(lg) {
              max-width: 125px;
            }
          }
          @media screen and (min-width: 480px) and (max-width: 991px) {
            float: left;
          }
          @media screen and (max-width: 479px) {
            display: block;
            text-align: center;
          }
        }
        .footer-address {
          @include media-breakpoint-up(lg) {
            float: left;
            width: 55%;
          }
          @include text-formatting(
            $lighter-font,
            $type-size-6,
            300,
            1.375rem,
            white,
            uppercase,
            0.125rem
          );
          @include global-transition(0.3s);
          padding-left: 30px;
          cursor: pointer;
          @media screen and (min-width: 480px) and (max-width: 991px) {
            float: right;
            margin-top: -6px;
            padding-left: 0;
          }
          @media screen and (max-width: 479px) {
            display: block;
            padding-left: 0;
          }
        }
        @media screen and (min-width: 480px) and (max-width: 991px) {
          width: 50%;
          max-width: 260px;
          margin: 30px auto;
        }
      }
      .contact-sec {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
          @include make-col(3.5);
        }
        margin-bottom: 20px;
        p {
          line-height: 1rem;
          a {
            @include text-formatting(
              $lighter-font,
              $type-size-6,
              300,
              1.375rem,
              white,
              uppercase,
              0.125rem
            );
            @include global-transition(0.3s);
            &.email-address {
              display: inline-block;
              margin-top: 20px;
            }
          }
        }
      }
      .email-subscription {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }
        margin-bottom: 20px;
        h4 {
          margin-bottom: 22px;
        }
        form {
          position: relative;
          margin-bottom: 25px;
          .newsletter-footer-inner {
            display: inline-block;
            max-width: 250px;
            @media screen and (min-width: 992px) and (max-width: 1270px) {
              width: 185px;
            }
            input {
              padding: 0 0 0 10px;
              border-radius: 0;
              &:active {
                border: 0;
              }
            }
            label {
              @include text-formatting(
                $lighter-font,
                $type-size-13,
                300,
                1.375rem,
                white,
                none,
                normal
              );
              @include global-transition(0.3s);
              margin: 10px 0 0;
              a {
                color: $white;
                text-decoration: underline;
              }
            }
          }
          button {
            position: absolute;
            top: 0;
            display: inline-block;
            width: 19px;
            height: 25px;
            margin-left: 13px;
            cursor: pointer;
            background-color: $brand-blue;
            background-image: url("/assets/images/arrow-right.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 8px;
            border: 0;
            @include global-transition(0.3s);
            &:hover {
              background-color: $brand-red;
            }
          }
        }
        .social-share {
          li {
            display: inline-block;
            list-style: none;
            a {
              padding-right: 30px;
              font-size: 30px;
              color: $white;
              @include global-transition(0.3s);
              &:hover {
                color: $brand-yellow;
              }
            }
          }
        }
      }
      .footer-links {
        @include make-col-ready();
        width: 100%;
        @include media-breakpoint-up(lg) {
          width: auto;
        }
        ul {
          @include media-breakpoint-up(lg) {
            padding-left: 50px;
          }
          li {
            margin-bottom: 15px;
            list-style: none;
            a {
              @include text-formatting(
                $lighter-font,
                $type-size-6,
                300,
                1.375rem,
                white,
                uppercase,
                0.125rem
              );
              @include global-transition(0.3s);
            }
          }
        }
      }
    }
  }
}
#signUpBtn {
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
