// Header Elements
// ==========================================================================
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
}
.navbar-brand {
  img {
    width: 130px;
    height: auto;
  }
}

.coming-soon-text {
  position: absolute;
  right: 50px;
  bottom: 20px;
  @include text-formatting($lighter-font, 15px, normal, normal, $black, uppercase, .15px);
}
