// Utility Classes
// ==========================================================================

// Visibility

.hidden {
  display: none;
  visibility: hidden;
}

// For expiring content

.expired {
  display: none;
}

// For preloading images

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

// Colours for text-formatting

.passion-red {
  color: $brand-red;
}
.tranquility-blue {
  color: $brand-blue;
}
.rejuvenation-green {
  color: $brand-green;
}
.happiness-yellow {
  color: $brand-yellow;
}
