// Utility Classes
// ==========================================================================

// Visibility

.hidden {
  display: none;
  visibility: hidden;
}

// For expiring content

.expired {
  display: none;
}

// For preloading images

.load {
  display: none;
}

.transparent {
  opacity: 0;
}
