// Variables
// ==========================================================================


// Typography
$font-size-base: 1rem !default;

$global-font-family: 'CerebriSans-Book' !default;
$header-font-family: 'CerebriSans-Bold' !default;
$lighter-font: 'CerebriSans-Light' !default;

// Type scale
$type-size-1: 5rem !default; // ~80px
$type-size-2: 4.0625rem !default; // ~65px
$type-size-3: 1.5rem !default; // ~24px
$type-size-4: 2.1875rem !default; // ~35px

// Colors

$logo-clr-1: #0575db;
$logo-clr-2: #db0533;
$logo-clr-3: #05ab3d;
$logo-clr-4: #fcd924;
$dark-font: #010101;
