.home-hero-video {
  position: relative;
  video {
    width: 100%;
    background: transparent url("/assets/images/main-video-poster.png") 50% 50% /
      cover no-repeat;
  }
}

.stay-colorful-video {
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.stay-colorful-header {
  display: none;
  max-width: 650px;
  margin: 0 auto 30px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.stay-colorful {
  position: relative;
  display: none;
  min-height: 320px;
  overflow: hidden;
  text-align: center;
  transition: background 0.5s ease;
  @include media-breakpoint-up(sm) {
    min-height: 500px;
  }
  @include media-breakpoint-up(lg) {
    display: block;
    min-height: 810px;
  }
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
    h2 {
      z-index: -1;
      font-size: 2rem;
      line-height: 0;
      @media screen and (min-width: 350px) {
        font-size: 2.75rem;
        letter-spacing: 0.3px;
      }
      @include media-breakpoint-up(md) {
        font-size: 4rem;
        letter-spacing: 0.8rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 6rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 8rem;
      }
    }
  }
  .overlay-blocks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -20%;
    width: 140%;
    z-index: 9;
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);

    @include media-breakpoint-up(sm) {
      left: -15%;
      width: 130%;
    }

    @include media-breakpoint-up(xl) {
      left: -12%;
      width: 125%;
    }

    .overlay {
      display: inline-block;
      float: left;
      height: 100%;

      @include global-transition(0.5s);
      &.block-1 {
        width: 30%;
        background-color: $site-transparent-clr-3;
      }
      &.block-2 {
        margin-left: -10px;
        @include media-breakpoint-up(xl) {
          margin-left: -20px;
        }
        width: 20%;
        background-color: $site-transparent-clr-1;
      }
      &.block-3 {
        width: 20%;
        margin-left: -10px;
        background-color: $site-transparent-clr-2;
      }
      &.block-4 {
        width: 30%;
        background-color: $site-transparent-clr-4;
      }
    }
  }
}

.stay-colorful-video {
  position: relative;
  video {
    width: 100%;
  }
}

.play-overlay {
  @media screen and (min-width: 1025px) {
    display: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: $black-transparent-light;
  .fa-play-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    color: $white;
    text-shadow: 0 0 30px $black;
  }
}

.home-hero-video .play-overlay {
  bottom: 6px;
}

.dine-distinctively,
.arrive-affordably {
  h2 {
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 6rem;
    }
    span {
      position: relative;
      &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        width: 25px;
        height: 29px;
        content: "";
        background-color: $brand-yellow;
        @include media-breakpoint-up(md) {
          top: -2px;
          left: -5px;
          width: 50px;
          height: 57px;
        }
        @include media-breakpoint-up(lg) {
          top: -5px;
          left: -6px;
          width: 70px;
          height: 80px;
        }
        @include media-breakpoint-up(xl) {
          top: -3px;
          left: -6px;
          width: 80px;
          height: 92px;
        }
      }
    }
  }
}

.arrive-affordably {
  h2 {
    span {
      &::after {
        background-color: $brand-green;
      }
    }
  }
}

.meet-magnificently {
  h2,
  h1 {
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 6rem;
    }
    span {
      position: relative;
      &::after {
        position: absolute;
        top: -2px;
        left: -5px;
        z-index: -1;
        width: 25px;
        height: 29px;
        content: "";
        background-color: $brand-red;
        @include media-breakpoint-up(md) {
          top: -2px;
          left: -8px;
          width: 50px;
          height: 57px;
        }
        @include media-breakpoint-up(lg) {
          top: -5px;
          left: -12px;
          width: 70px;
          height: 80px;
        }
        @include media-breakpoint-up(xl) {
          top: -3px;
          left: -12px;
          width: 80px;
          height: 92px;
        }
      }
    }
  }
  .carousel-indicators {
    li {
      &.active {
        background-color: $brand-red;
      }
    }
  }
}

.stay-colorful-sec {
  position: relative;
  img {
    width: 100%;
  }
}
.full-text-wrap {
  &.make-something-new {
    .full-text {
      .top-right-block {
        top: 0;
      }
    }
  }
}
