<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-portal-info="portalInfo" rt3-rooms-browser="browser" ng-cloak>
  <a class="skip-main" href="#main">Skip to main content</a>
  {% if site.data.tracking.analytics.provider and page.analytics != false %}
    {% case site.data.tracking.analytics.provider %}
    {% when "gtm" %}
      {% include analytics/gtm-body.html %}
    {% endcase %}
  {% endif %}

  <section class="intro-logo">
    <!-- Black image is placed and logo gif image is hidden and is again added through jquery. So that the animation starts after the section is loaded. -->
    <img class="hidden" src="/assets/images/logo-animation.gif" alt="Angad Arts Hotel">
    <img src="/assets/images/black.jpg" alt="Angad Arts Hotel">
  </section>

  {% include nav-main.html %}
  <div id="main">
    {{ content }}
  </div>
  {% include footer/custom.html %}
  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
