---
layout: default
---
<section class="event-details">
  <div class="event-details-wrapper">

    <div class="event-details-image">
      <a class="primary-btn reverse" href="#">Back to Calendar</a>
      <img src="/assets/images/events/event1-detail.jpg" alt="Event Detail" />
    </div>

    <div class="event-details-content">
      <h4>fashion show & dinner at angad playhouse</h4>
      <h5>
        Tuesday, september 30<br />
        7pm - 10 pm<br />
        @ Angad Playhouse
      </h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <a class="primary-btn" href="#">Reserve A Table</a>
      <hr>
      <div class="tnc">
        <h6>Terms & Conditions</h6>
        <p>
          Bipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor forte dolore mare vita incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="more-events">
  <div class="more-events-wrapper">
    <h2>More Events</h2>
    <div class="more-events-listing">

      <!-- Event -->
      <div class="event">
        <h4>Tue Sep 30<span>7 pm</span></h4>
        <div class="event-image" style="background-image: url('/assets/images/events/event1.jpg')">
        </div>
        <div class="event-info balance_height">
          <p>
            Incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a class="secondary-btn" href="#">Learn More</a>
        <hr>
      </div>

      <!-- Event -->
      <div class="event">
        <h4>Tue Sep 30<span>7 pm</span></h4>
        <div class="event-image" style="background-image: url('/assets/images/events/event1.jpg')">
        </div>
        <div class="event-info balance_height">
          <p>
            Incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a class="secondary-btn" href="#">Learn More</a>
        <hr>
      </div>

      <!-- Event -->
      <div class="event">
        <h4>Tue Sep 30<span>7 pm</span></h4>
        <div class="event-image" style="background-image: url('/assets/images/events/event1.jpg')">
        </div>
        <div class="event-info balance_height">
          <p>
            Incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a class="secondary-btn" href="#">Learn More</a>
        <hr>
      </div>

      <!-- Event -->
      <div class="event">
        <h4>Tue Sep 30<span>7 pm</span></h4>
        <div class="event-image" style="background-image: url('/assets/images/events/event1.jpg')">
        </div>
        <div class="event-info balance_height">
          <p>
            Incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a class="secondary-btn" href="#">Learn More</a>
        <hr>
      </div>

      <!-- Event -->
      <div class="event">
        <h4>Tue Sep 30<span>7 pm</span></h4>
        <div class="event-image" style="background-image: url('/assets/images/events/event1.jpg')">
        </div>
        <div class="event-info balance_height">
          <p>
            Incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a class="secondary-btn" href="#">Learn More</a>
        <hr>
      </div>

    </div>
  </div>

</section>
