---
layout: default
---

<section class="event-details">
  <div class="event-details-wrapper">
    <div class="event-details-image">
      <a class="primary-btn reverse" href="/aah-tonight/">Back to Calendar</a>
      <img src="{{ page.event_large_image.url_large }}" alt="{{ page.event_image.alt }}" />
    </div>
    <div class="event-details-content">
      <h4>{{ page.event_name }}</h4>
      <h5>
        {{ page.event_date | date: "%a %b %d" }}<span> {% if page.event_enddate and page.event_enddate != '' %} <br /><i>to</i> {{ page.event_enddate | date: "%a %b %d" }}{% else %}<br />{{ page.event_time }}{% endif %}<br />
        @ {{ page.event_venue }}
      </h5>

      {{ page.long_description }}


      {% if page.show_email_subscription == true %}


      {% assign jotform = site.data.forms.jotform %}
      <form class="newsletter-footer" action="https://submit.jotform.me/submit/{{jotform.events-tc-id}}/" method="post" name="form_{{jotform.events-tc-id}}" id="{{jotform.events-tc-id}}">
        <input type="hidden" name="formID" value="{{jotform.events-tc-id}}" />
        <div class="events-tc-form">
          <input class="form-control" type="email" name="q3_email" value="" placeholder="name@domain.com" title="Enter Your Email" aria-label="Enter Your Email" required>
          <label for="input_4_0" class="agree">
            <input type="checkbox" aria-label="I agree to the Terms of Service and Privacy Policy." title="I agree to the Terms of Service and Privacy Policy." id="input_4_0" name="q4_acceptTerms[]" tabindex="0" required>
            <input type="hidden" name="q5_eventName" value="{{page.event_name}}">
            I agree to the <a href="/terms-of-use/" target="_blank">Terms of Use</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.
            <span class="checkmark"></span>
          </label>
        </div>
        <button id="signUpBtn" type="submit" name="button" title="Signup" aria-label="Signup" tabindex="0" disabled></button>
      </form>

      {% endif %}

      {% if page.reservation_cta_btn_text != "" and page.reservation_cta_btn_text != undefined and page.reserve_url != "" and page.reserve_url != undefined %}
      <hr>
      <a class="primary-btn yellow" href="{{ page.reserve_url }}" target="_blank">{{page.reservation_cta_btn_text}}</a>
      {% endif %}
      <hr>
      <div class="tnc">
        <h6>Terms & Conditions</h6>
        {{ page.terms }}
      </div>
    </div>
  </div>
</section>

<section class="more-events">
  <div class="more-events-wrapper">
    <h2>More Events</h2>
    <div class="more-events-listing">
      {% assign events = site.data._models.events %}
      {% for event in events %}
      <!-- Event -->
      <div class="event">
        <h4>{{ event.event_date | date: "%a %b %d" }}<span>{% if event.event_enddate and event.event_enddate != '' %}<i>to</i> {{ event.event_enddate | date: "%a %b %d" }}{% else %}{{ event.event_time }}{% endif %}</span></h4>
        <div class="event-image" style="background-image: url('{{ event.event_thumb_image.url_small }}')">
        </div>
        <div class="event-info balance_height">
          <p>
            {{ event.short_description }}
          </p>
        </div>
        <a class="secondary-btn {% if event.btn_txt and event.btn_txt == '' %}hidden{% endif %}" href="/aah-tonight/{{ event.url_friendly_name }}/">{{ event.btn_txt }}</a>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
