---
layout: default
parent: /storytelling/
---
{% assign blogseo_title =  'blog title' %}
{% assign blog = page %}
{% assign model = page %}
{% assign post = site.data._models.storytelling  %}
{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
            {% assign prevPostThumb = post[pInd].blogimage.url_medium %}
            {% assign prevPostCategory = post[pInd].category.title %}
            {% assign prevPostCategoryUrl = post[pInd].category.url_friendly_name %}
            {% assign prevPostDate = post[pInd].date %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
            {% assign nextPostThumb = post[nInd].blogimage.url_medium %}
            {% assign nextPostCategory = post[nInd].category.title %}
            {% assign nextPostCategoryUrl = post[nInd].category.url_friendly_name %}
            {% assign nextPostDate = post[nInd].date %}
        {% endif %}
    {% endif %}
{% endfor %}

{% assign page_name = "details-page" %}
<div class="blog-details-banner bg-styles" style="background-image: url('{{blog.blogimage.url}}');"></div>

<section class="blog-container details-page">
  <div class="blog-row">
    <p class="info">
      <span class="date"> {{ blog.date | date: "%B %d, %Y" }} </span> {% if blog.category.url_friendly_name %}| <span class="categories"><a href="/storytelling/category/{{blog.category.url_friendly_name}}/">{{blog.category.title}}</a></span> {% endif %}
    </p>
    <h1 class="blog-intro">{{blog.title}}</h1>
    <div class="blog-col">
      <div class="post-details">
        <div class="blog-description">
          {{blog.long_description}}
        </div>
        <hr> {% include social-share.html %}
      </div>
    </div>
    <div class="blog-right-block">
      {% include blog-aside.html %}
    </div>
  </div>
</section>

<section class="related-posts">
  <div class="related-posts-inner">
    <h2>Related Stories</h2>
    <div class="related-posts-row">
      {% for post in site.data._models.storytelling %}
        {% if blog.category.url_friendly_name == post.category.url_friendly_name %}
          <div class="related-post-item">
            <a class="related-thumb" href="{{post.url_friendly_name}}" title="{{post.title}}" style="background-image: url('{{post.blogimage.url_medium}}')"></a>
            <h4>{{post.title}}</h4>
            <p class="info"> <span class="date"> {{ post.date | date: "%B %d, %Y" }} </span>  |  <a href="{{post.category.url_friendly_name}}" class="categories"> {{post.category.title}} </a> </p>
            <div class="short-description"> {{post.short_description}} </div>
            <div class="btn-holder">
              <a href="{{post.url_friendly_name}}" class="secondary-btn red" title="{{post.title}}">Read Story</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
