<div class="form-part">
  <form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.rfp-id }}/" class="custom-form" method="post" name="form_{{ site.data.forms.jotform.rfp-id }}" id="{{ site.data.forms.jotform.rfp-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.rfp-id }}">
    <input type="text" class="form-control" placeholder="First Name *" title="First Name" aria-label="First Name" id="input_3" name="q3_firstName" required />
    <input type="text" class="form-control" placeholder="Last Name *" title="Last Name" aria-label="Last Name" id="input_4" name="q4_lastName" required />
    <input type="email" class="form-control" placeholder="Email *" title="Email" aria-label="Email" id="input_5" name="q5_email" required />
    <input type="text" class="form-control" placeholder="Contact Number *" id="input_6_area" name="q6_phoneNumber[area]" title="Contact Number" aria-label="Contact Number" required />
    <select class="form-control" id="input_7" name="q7_subject" title="Purpose" aria-label="Purpose">
      <option value="">Planning For</option>
      <option>Business Meeting</option>
      <option>Corporate Gathering</option>
      <option>Family Reunion</option>
      <option>Other..</option>
    </select>
    <textarea placeholder="Comments" title="Comments" aria-label="Comments" class="form-control" id="input_8" name="q8_comments"></textarea>
    <div class="agree">
      <input type="checkbox" class="" name="q10_iAgree[]" id="agree" value="agree" required="">
      <label class="form-check-label" for="agree">I agree to the <a href="/terms/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.</label>
    </div>
    <button type="submit" id="rfpBtn" class="secondary-btn green" disabled>Submit</button>
    <p class="required text-right">Required fields are marked *</p>
  </form>
</div>
